@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
a {
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Regular"), local("Graphik-LCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Medium"), local("Graphik-LCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Bold"), local("Graphik-LCG-Bold"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?vilq5c");
  src: url("../fonts/icomoon.eot?vilq5c#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vilq5c") format("truetype"), url("../fonts/icomoon.woff?vilq5c") format("woff"), url("f../onts/icomoon.svg?vilq5c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-parking:before {
  content: "\e916";
}

.icon-ticket:before {
  content: "\e917";
}

.icon-walking:before {
  content: "\e918";
}

.icon-bed:before {
  content: "\e911";
}

.icon-passport:before {
  content: "\e912";
}

.icon-phone:before {
  content: "\e913";
}

.icon-suitcase:before {
  content: "\e914";
}

.icon-wifi:before {
  content: "\e915";
}

.icon-tool:before {
  content: "\e910";
}

.icon-info:before {
  content: "\e90e";
}

.icon-bars:before {
  content: "\e90f";
}

.icon-arr-right:before {
  content: "\e900";
}

.icon-car:before {
  content: "\e901";
}

.icon-arrl:before {
  content: "\e902";
}

.icon-arrr:before {
  content: "\e903";
}

.icon-clock:before {
  content: "\e904";
}

.icon-cloud:before {
  content: "\e905";
}

.icon-couch:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\e908";
}

.icon-linkedin:before {
  content: "\e909";
}

.icon-shopping:before {
  content: "\e90a";
}

.icon-twitter:before {
  content: "\e90b";
}

.icon-restaurants:before {
  content: "\e90c";
}

.icon-youtube:before {
  content: "\e90d";
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: #22222299;
  border-radius: 4px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Стрелка влево */
.slick-arrow.slick-prev:before {
  content: "\e902";
  font-size: 17px;
}

/* Стрелка вправо */
.slick-arrow.slick-next:before {
  content: "\e903";
  font-size: 17px;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.4;
}

.slick-dots li.slick-active button {
  background-color: #fff;
  opacity: 1;
}

.slider-box .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  z-index: 5;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
a,
picture,
li,
span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
  min-height: 0;
}

.wrapper {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f1f4f6;
  font-family: "Roboto", sans-serif;
}

.breadcrumbs {
  font-size: 0.8125rem;
  line-height: 0.975rem;
  color: #777;
  margin-top: 140px;
  padding: 40px 0;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumbs__list a {
  display: inline-block;
  color: #222222;
}

.breadcrumbs__list span {
  display: inline-block;
}

.breadcrumbs__list span::before {
  font-size: 10px;
  color: #222;
  margin: 0 10px;
}

.background {
  width: 100%;
  height: 385px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
}

.background::after {
  background: #22222299;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section-title {
  font-size: 1.75rem;
  color: #222;
  font-weight: bold;
  margin-bottom: 24px;
}

.section-spacer {
  width: 100%;
  height: 140px;
}

.grey-button {
  display: block;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #e5e8ee;
  color: #222;
}

.red-button {
  background-color: #ff0000;
  color: #fff;
}

.section-description {
  margin: 80px 0 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: #222;
}

.section-description__link {
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #e5e8ee;
  color: #222;
}

.import {
  background-color: #fff;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.info-form {
  width: 100%;
  border-radius: 4px;
}

.info-form p,
.info-form h2 {
  font-size: 1.0625rem;
  line-height: 1.5rem;
  color: #444;
  margin-bottom: 20px;
}

.info-form h2 {
  font-weight: bold;
}

.info-form__form {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.info-form__form div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  min-width: 280px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #222;
}

.info-form__form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.info-form__form input,
.info-form__form textarea {
  width: 100%;
  display: block;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  color: #444;
}

.info-form__form textarea {
  resize: none;
  min-height: 150px;
}

.info-form button {
  margin-top: 24px;
}

.contacts-card {
  min-width: 230px;
  border-radius: 4px;
  background-color: #fff;
}

.contacts-card span {
  color: #777777b3;
}

.contacts-card a {
  color: #222;
  text-decoration: underline;
}

.contacts-card h3 {
  font-size: 1rem;
  color: #222;
  font-weight: bold;
  padding: 32px;
}

.contacts-card__column {
  font-size: 0.975rem;
  padding: 0 32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}

.contacts-card__column .vip-terminal__item {
  min-height: 0;
}

.news-more-card {
  min-width: 230px;
  border-radius: 4px;
  background-color: #fff;
  padding: 32px;
}

.news-more-card h3 {
  font-size: 1rem;
  color: #222;
  font-weight: bold;
}

.news-more-card button {
  margin-top: 15px;
}

.news-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  min-width: 280px;
  min-height: 170px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #222;
  overflow: hidden;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-card__info {
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-card__tag {
  padding: 4px 8px;
}

.news-card__date {
  color: #777;
}

.news-card__date span {
  display: inline-block;
}

.news-card__date span::before {
  font-size: 11px;
}

.subscription-form__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
}

.subscription-form__title {
  cursor: pointer;
}

.subscription-form__input {
  border-radius: 4px 0 0 4px;
  width: 100%;
  line-height: 21px;
  padding: 12px;
  border: 1px solid #22222280;
}

.subscription-form__button {
  height: 100%;
  min-width: 45px;
  background-color: #ff0000;
}

.subscription-form__button span {
  width: 100%;
}

.subscription-form__button span::before {
  font-size: 20px;
  color: #fff;
}

.social-media__card {
  border-radius: 4px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 110px;
}

.social-media__card_facebook {
  background: #4267b2;
}

.social-media__card_instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.social-media__card_twitter {
  background: #1da1f2;
}

.social-media__card_linkedin {
  background: #0077b5;
}

.social-media__card_youtube {
  background: #f61c0d;
}

.social-media span::before {
  color: #fff;
  font-size: 1.5rem;
}

.social-media__title {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.contact-card_red {
  background-color: #ff0000;
}

.contact-card_red span {
  color: #ffffffb3;
}

.contact-card_red a {
  color: #fff;
}

.contact-card_red h3 {
  color: #fff;
}

.under-construction {
  padding: 32px;
  border-radius: 4px;
  margin: 14px 0;
  background-color: #e5e8ee;
  color: #22222280;
  font-size: 0.975rem;
  line-height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.go-top-button {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 25px;
  z-index: 50;
  width: 40px;
  height: 40px;
  background-color: #ff0000;
  border-radius: 5px;
  opacity: 0.1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  overflow: hidden;
}

.go-top-button svg {
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -7px;
  height: 50px;
  width: 50px;
}

.go-top-button.show {
  opacity: 0.6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.go-top-button:hover {
  opacity: 1;
}

@media (max-width: 1400) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 1024px) {
  .breadcrumbs {
    margin-top: 50px;
  }
  .container {
    padding: 0 3.5%;
  }
}

.header {
  position: fixed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 0.975rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
}

.header__upper-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  gap: 20px;
  font-weight: 400;
  line-height: 100%;
}

.header__logo {
  height: 40px;
  width: 151px;
  background-image: url(../img/logo-rivne.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.header__burger {
  display: none;
  margin-left: auto;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 50;
}

.header__burger span {
  position: absolute;
  background: #222;
  border-radius: 2px;
  top: 13px;
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #ff0000;
}

.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  background: #222;
  background-color: #ff0000;
  border-radius: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #222;
  top: 13px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #222;
  top: 13px;
}

.header__border {
  height: 40px;
  width: 1px;
  background-color: #eeeeee4d;
}

.header__language {
  cursor: pointer;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
}

.header__menu {
  height: 60px;
  border-top: 1px solid #eeeeee4d;
  border-bottom: 1px solid #ff0000;
  font-weight: 400;
  line-height: 60px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header__link {
  color: #fff;
  opacity: 0.7;
}

.current {
  position: relative;
}

.current::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 7px 40px;
  border-color: transparent transparent #ff0000 transparent;
}

.time-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.time-date__description {
  margin-right: 20px;
}

.time-date__box span {
  display: inline-block;
  margin: 0 5px;
}

.header-dropdown {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
  padding: 32px 0;
  background-color: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  visibility: hidden;
}

.header-dropdown__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.header-dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
}

.header-dropdown__list li {
  padding-left: 24px;
}

.header-dropdown__link {
  max-width: 220px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: normal;
  font-size: 0.975rem;
  color: #444;
}

.header-dropdown__link_inactive {
  color: #777;
}

.language {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .header__link {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header__link:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    color: #ff0000;
    opacity: 1;
  }
  .header .header-dropdown__link {
    position: relative;
  }
  .header .header-dropdown__link::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -19px;
    width: 14px;
    height: 11px;
    background-image: url(../img/arrw.svg);
    background-size: 14px 11px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .header .header-dropdown__link:hover::before {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .header .header-dropdown__link_inactive {
    pointer-events: none;
  }
}

@media (max-width: 1400px) {
  .header-dropdown__list li {
    padding-left: 16px;
  }
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .header__burger {
    display: block;
  }
  .header__language {
    display: none;
  }
  .header__upper-box {
    height: 50px;
    gap: 10px;
  }
  .header__menu {
    line-height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__menu.active {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 10;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
  .header__list li {
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  .header__list li:first-child {
    border-top: 1px solid #eee;
  }
  .header__link {
    color: #222;
    opacity: 0.7;
    width: 100%;
  }
  .header__item_dropdown {
    position: relative;
  }
  .header__item_dropdown::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 18px;
    border: 7px solid transparent;
    border-left: 7px solid #ff0000;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__item_dropdown.more::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header__item_dropdown.more .header-dropdown {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__logo {
    background-image: url(../img/logo-rivne-black.svg);
  }
  .header-dropdown {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: #eef2f4;
    border-radius: 4px;
    visibility: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-dropdown__box {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-dropdown__list {
    width: 100%;
  }
  .header-dropdown__list li {
    padding-left: 0;
  }
  .header-dropdown__link {
    line-height: normal;
    font-size: 1.0625rem;
    color: #444;
  }
  .header-dropdown__link_inactive {
    color: #777;
  }
  .current {
    font-weight: bold;
    position: relative;
  }
  .current::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -10px;
    width: 3px;
    height: 90%;
    border: none;
    border-radius: 2px 0 0 2px;
    background: #ff0000;
  }
  .time-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #444;
  }
  .time-date__description {
    display: none;
  }
  .time-date__box span {
    display: inline-block;
    margin: 0 5px;
  }
  .language {
    border-top: 5px solid #eee;
    background-color: #fff;
    padding: 0 2.5%;
    display: block;
    height: 80px;
    max-height: 200px;
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222;
  }
  .language .header__language {
    display: block;
    color: #222;
  }
}

@media (max-width: 410px) {
  .time-date {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .header:before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 140px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
  }
  .header.fixed:before {
    position: fixed;
    top: 60px;
  }
  .header__item_dropdown:hover .header-dropdown {
    visibility: visible;
  }
  .header.white {
    color: #222;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background-color: #fff;
  }
  .header.white .header__logo {
    background-image: url(../img/logo-rivne-black.svg);
  }
  .header.white .header__language {
    color: #222;
  }
  .header.white .header__menu {
    border-top: 1px solid #eeeeee4d;
  }
  .header.white .header__menu .header__link {
    color: #222;
    opacity: 0.7;
  }
  .header.white .header__link {
    color: #222;
  }
}

.hover-slider {
  margin-top: 80px;
}

.hover-slider__description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  z-index: 2;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.hover-slider__description span {
  font-size: 1.75rem;
}

.hover-slider__title {
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.hover-slider__img {
  z-index: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background-image: url(../img/image-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.hover-slider__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.hover-box {
  border-radius: 4px;
  overflow: hidden;
  background-color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.hover-link {
  color: #fff;
  width: calc(100% / 3);
  padding: 250px 30px 30px;
  height: 400px;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.hover-link.off {
  z-index: 4;
}

.hover-link.off .hover-slider__img {
  opacity: 0;
}

.hover-link.off .hover-slider__description {
  opacity: 0.6;
}

.hover-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}

.hover-link::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  border: 12px solid transparent;
  border-top: 12px solid #fff;
  border-right: 12px solid #fff;
  opacity: 0.45;
  z-index: 3;
}

.hover-link:nth-child(2) .hover-slider__img {
  left: -100%;
}

.hover-link:nth-child(3) .hover-slider__img {
  left: -200%;
}

.hover-link:hover {
  overflow: visible;
}

.slider-box {
  border-radius: 4px;
  overflow: hidden;
}

.slider-link {
  width: 100%;
  color: #fff;
  height: 400px;
  padding: 250px 30px 30px;
  position: relative;
  z-index: 3;
}

.slider-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}

.slider-link::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  border: 12px solid transparent;
  border-top: 12px solid #fff;
  border-right: 12px solid #fff;
  opacity: 0.45;
  z-index: 3;
}

.slider-link .hover-slider__img {
  z-index: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-link .hover-slider__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #fff;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  gap: 16px;
  border-bottom: 1px solid #eee;
}

.footer-menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer-menu a {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222;
}

.footer-contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  min-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer-contacts li {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__title {
  width: 100%;
  font-weight: bold;
  max-width: 130px;
}

.footer-contacts__email {
  color: #222;
}

.footer-contacts__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.footer-contacts__icon span::before {
  font-size: 20px;
}

.copyright {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.copyright__made-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright__made-by a {
  margin: 0 5px;
}

@media screen and (min-device-width: 768px) {
  .footer-menu a:hover {
    color: red;
    text-decoration: underline;
  }
  .footer-contacts__icon span::before {
    font-size: 20px;
  }
  .footer-contacts__icon a:hover {
    text-decoration: none;
  }
}

.breadcrumbs {
  color: #fff;
}

.breadcrumbs a {
  color: #fff;
}

.breadcrumbs span::before {
  color: #fff;
}

.section-title {
  color: #fff;
}

.wrapper {
  background-image: none;
}

.background {
  background-image: url(../img/contacts-bg.png);
}

.contacts__description {
  color: #fff;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  max-width: 610px;
  padding-bottom: 50px;
}

.contacts__box {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}

.contacts__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.contacts__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.contacts__text h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  color: #222;
}

.contacts__text p {
  font-size: 1.0625rem;
  line-height: 1.5rem;
  color: #444;
  margin: 20px 0;
}

.info-form {
  background-color: #fff;
  padding: 24px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}

@media (max-width: 1024px) {
  .contacts__description {
    padding-bottom: 140px;
  }
}
