.header {
    position: fixed;
    transition: all 0.5s;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: $f15;
    color: $white;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(64px);
    &__upper-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 80px;
        gap: 20px;

        font-weight: 400;
        line-height: 100%;
    }

    &__logo {
        height: 40px;
        width: 151px;
        background-image: url(../img/logo-rivne.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &__burger {
        display: none;
        margin-left: auto;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 50;
        & span {
            position: absolute;
            background: $grey;
            border-radius: 2px;
            top: 13px;
            width: 100%;
            height: 4px;
            transition: all 0.3s ease 0s;
            background-color: $rivne-red;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            background: $grey;
            background-color: $rivne-red;
            border-radius: 2px;
            left: 0;
            width: 100%;
            height: 4px;
            transition: all 0.3s ease 0s;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        &.active span {
            transform: scale(0);
        }
        &.active:before {
            transform: rotate(45deg);
            background-color: $grey;
            top: 13px;
        }
        &.active:after {
            transform: rotate(-45deg);
            background-color: $grey;
            top: 13px;
        }
    }

    &__border {
        height: 40px;
        width: 1px;
        background-color: #eeeeee4d;
    }
    &__language {
        cursor: pointer;
        margin-left: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: $f12;
        font-weight: bold;
        color: $white;
    }

    &__menu {
        height: 60px;
        border-top: 1px solid #eeeeee4d;
        border-bottom: 1px solid $rivne-red;
        font-weight: 400;
        line-height: 60px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 24px;
    }

    &__link {
        color: $white;
        opacity: 0.7;
    }
}

.current {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 40px 7px 40px;
        border-color: transparent transparent $rivne-red transparent;
    }
}

.time-date {
    display: flex;
    flex-direction: row;
    &__description {
        margin-right: 20px;
    }
    &__box {
        & span {
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.header-dropdown {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    padding: 32px 0;
    background-color: $white;
    height: fit-content;
    visibility: hidden;

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        & li {
            padding-left: 24px;
        }
    }

    &__link {
        max-width: 220px;
        width: fit-content;
        line-height: normal;
        font-size: $f15;
        color: $lightGrey;
        &_inactive {
            color: $veryLightGrey;
        }
    }
}

.language {
    display: none;
    height: fit-content;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s;
}

//! hovers
@media screen and (min-width: 768px) {
    .header {
        &__link {
            transition: all 0.5s ease;
            &:hover {
                transition: all 1s ease;
                color: $rivne-red;
                opacity: 1;
            }
        }
        .header-dropdown {
            &__link {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -19px;
                    width: 14px;
                    height: 11px;
                    background-image: url(../img/arrw.svg);
                    background-size: 14px 11px;
                    opacity: 0;
                    transition: all 0.2s;
                }
                &:hover::before {
                    opacity: 1;
                    transition: all 0.2s;
                }
            }
            &__link_inactive {
                pointer-events: none;
            }
        }
    }
}
@media (max-width: 1400px) {
    .header-dropdown {
        &__list {
            & li {
                padding-left: 16px;
            }
        }
    }
}

//! Burger
@media (max-width: 1024px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        background-color: $white;
        border-bottom: 1px solid #eee;
        backdrop-filter: none;
        &__burger {
            display: block;
        }
        &__language {
            display: none;
        }
        &__upper-box {
            height: 50px;
            gap: 10px;
        }
        &__menu {
            line-height: 50px;
            overflow-x: hidden;
            overflow-y: auto;
            visibility: hidden;
            height: fit-content;
            max-height: 0;
            opacity: 0;
            transition: all 0.5s;
            &.active {
                position: absolute;
                top: 50px;
                left: 0;
                height: 100vh;
                width: 100%;
                background-color: $white;
                max-height: 100vh;
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
                z-index: 10;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0;
            & li {
                &:first-child {
                    border-top: 1px solid #eee;
                }
                width: 100%;
                border-bottom: 1px solid #eee;
            }
        }
        &__link {
            color: $grey;
            opacity: 0.7;
            width: 100%;
        }
        &__item_dropdown {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 10px;
                top: 18px;
                border: 7px solid transparent;
                border-left: 7px solid $rivne-red;
                transform-origin: center center;
                transition: all 0.5s;
            }
            &.more {
                &::after {
                    transform: rotate(90deg);
                }

                & .header-dropdown {
                    max-height: 500px;
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.5s;
                }
            }
        }
        &__logo {
            background-image: url(../img/logo-rivne-black.svg);
        }
    }

    .header-dropdown {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        background-color: #eef2f4;
        border-radius: 4px;
        visibility: hidden;
        height: fit-content;
        max-height: 0;
        opacity: 0;
        transition: all 0.5s;

        &__box {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
        }

        &__list {
            width: 100%;
            & li {
                padding-left: 0;
            }
        }

        &__link {
            line-height: normal;
            font-size: $f17;
            color: $lightGrey;
            &_inactive {
                color: $veryLightGrey;
            }
        }
    }

    .current {
        font-weight: bold;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            width: 3px;
            height: 90%;
            border: none;
            border-radius: 2px 0 0 2px;
            background: $rivne-red;
        }
    }

    .time-date {
        flex-direction: column;
        color: $lightGrey;
        &__description {
            display: none;
        }
        &__box {
            & span {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
    .language {
        border-top: 5px solid #eee;
        background-color: $white;
        padding: 0 2.5%;
        display: block;
        height: 80px;
        max-height: 200px;
        opacity: 1;
        transition: all 0.5s;
        position: fixed;

        bottom: 0;
        left: 0;
        z-index: 100;

        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: $grey;
        & .header__language {
            display: block;
            color: $grey;
        }
    }
}

@media (max-width: 410px) {
    .time-date {
        display: none;
    }
}

//! Shadow & Hover-menu & Scroll
@media (min-width: 1024px) {
    .header:hover:before {
        opacity: 1;
        visibility: visible;
    }
    .header:before {
        content: "";
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 140px;
        background: rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        pointer-events: none;
    }
    .header.fixed:before {
        position: fixed;
        top: 60px;
    }

    //todo Show the dropdown menu on hover
    .header__item_dropdown:hover .header-dropdown {
        visibility: visible;
    }

    .header.white {
        color: $grey;
        backdrop-filter: none;
        background-color: $white;
        .header__logo {
            background-image: url(../img/logo-rivne-black.svg);
        }

        .header__language {
            color: $grey;
        }

        .header__menu {
            border-top: 1px solid #eeeeee4d;
            & .header__link {
                color: $grey;
                opacity: 0.7;
            }
        }

        .header__link {
            color: $grey;
        }
    }
}
