@import "_null.scss";
@import "_fonts.scss";
@import "_slick-theme.scss";
@import "_slick.scss";
@import "_sliders.scss";
@import "_main-same.scss";
@import "_header-container-same.scss";
@import "_pages-buttons-footer.scss";

//! Changed color
.breadcrumbs {
    color: $white;
    & a {
        color: $white;
    }
    & span::before {
        color: $white;
    }
}
.section-title {
    color: $white;
    padding-bottom: 100px;
}
//! Changed color

.background {
    background-image: url(../img/shoppingBG.jpg);
}

//! Unique
.shopping {
    &__box {
        padding-top: 14px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}
.shopping-card {
    flex: 1 1 48%;
    min-width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: $white;
    overflow: hidden;

    &__img {
        flex: 1 1 50%;
        min-width: 250px;
        min-height: 270px;
        & img {
            object-fit: cover;
            object-position: center center;
            object-position: left top;
            width: 100%;
            height: 100%;
        }
    }
    &__description {
        flex: 1 1 50%;
        padding: 24px;
    }

    &__title {
        color: $grey;
        padding-bottom: 24px;
        & span {
            color: $veryLightGrey;
            font-size: $f15;
            line-height: $f18;
        }
        & h2 {
            font-size: $f18;
            line-height: $f24;
        }
    }

    &__schedule {
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        font-size: $f14;
        line-height: $f17;
        padding: 16px 0;
        & span {
            display: inline-block;
        }
    }

    &__location {
        font-size: $f15;
        line-height: $f18;
        padding-top: 24px;
        & h3 {
            margin-bottom: 10px;
        }
        & span {
            color: $veryLightGrey;
        }
    }
}

@media (max-width: 1024px) {
    .section-title {
        color: $white;
        padding-bottom: 190px;
    }
}
