@import "_variables.scss";

.wrapper {
    background-image: none;
}
.empty-page {
    height: 100vh;
    width: 100%;
    position: relative;
    &__box {
        position: absolute;
        width: fit-content;
        max-width: 300px;
        height: fit-content;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    &__logo {
        height: auto;
        width: fit-content;
        & svg {
            width: 100%;
            height: auto;
            max-width: 275px;
        }
    }
    & p {
        font-size: $f18;
        text-align: center;
    }
    &__button {
        background-color: $rivne-red;
        & a {
            width: 100%;
            height: 100%;
            font-size: $f15;
            color: $white;
        }
    }
}
